<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    <%= question.question%>
    <a href="/enquetes/edit/<%= question.id%>" style="text-decoration: none;">✏️</a>
    <a href="/enquetes/delete/:id" style="text-decoration: none;">❌</a>
  </h1>
  <div>

  </div>
  <div>
    <div style="margin-top: 1rem;">
      <strong style="background-color: #3fa; padding: 1rem;">data inicio: <%= question.start %></strong>
      <strong style="background-color: #f3f; padding: 1rem;"> data termino: <%= question.end %></strong>
    </div>
  </div>
</body>
</html>
