<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey</title>
</head>

<body>

  <h1>Enquete</h1>
  <a href="/enquetes/criar"><strong>criar nova enquete</strong></a>

  <% questions.forEach((item, index) => { %>

    <div class="question" style="background-color: #FFF; box-shadow: 0 0 5px #ddff99; margin: 1rem; padding:  1rem;">
      <h2 style="background-color: #ddff99; padding: 1rem; border-radius: 0.5rem;">
        <%= item.question %>
      </h2>


      <button>VOTAR</button>
      <a href="/enquetes/<%= item.id%>" >detalhes</a>
    </div>

    <% }); %>


</body>

</html>
